<div class="form-group">
    <label for="name">Name:</label>
    <div class="input-group">
      <input id="name" class="form-control" ngModel>
    </div>
</div>
<quill-editor [styles]="{height: '100px'}" (onEditorChanged)="changedEditor($event)" (onEditorCreated)="created($event)"></quill-editor>
<mat-toolbar-row>
    <span>
      <mat-button-toggle value="saveButton" (click)="myClickFunction($event)">
        Save as New
      </mat-button-toggle>
      <mat-button-toggle value="saveButton">
        Update document
      </mat-button-toggle>
    </span>
</mat-toolbar-row>

<br>
<h4>List of docs</h4>

<div class="container">
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Text</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let editor of editors">
        <td><span>{{editor.name}}</span></td>
        <td><span>{{editor.text}}</span></td>
      </tr>
      </tbody>
    </table>
</div>

